Package: com.curapps.easynotify
Name: easynotify
Depends: 
Version: 0.0.2
Architecture: iphoneos-arm
Description: A library to present banner-style notifications with any image/bundle identifier you want.
Maintainer: Evan Lucas
Author: Evan Lucas
Section: System
Tag: role::developer
